<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Comic Recommand</title>
</head>
<body>
<h1>漫画推荐</h1>
<ul>
	<li> 中国漫画</li>
	<li> 日本漫画</li>
	<li> 欧美漫画</li>
</ul>
有序列表
<ol>
	<li> 中国漫画</li>
	<li> 日本漫画</li>
	<li> 欧美漫画</li>
</ol>
<h2>漫画表格</h2>
<table border="1">
	<thead>
	<tr>
		<th>ID</th>
		<th>作品名</th>
		<th>作者</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>01</td>
		<td>狂赌之渊</td>
		<td>尚村透</td>
	</tr>
	<tr>
		<td>02</td>
		<td>新世纪福音战士</td>
		<td>貞本義行</td>
	</tr>
	<tr>
		<td>03</td>
		<td>一人之下</td>
		<td>米二</td>
	</tr>
	</tbody>
</table>

<a href="https://kox.moe/c/10872.htm" target="_blank"> <!--_blank 起到在新标签页打开的作用 -->
	<img style="150px"
	     src="/static/images/comic/01.png">
</a>

<a href="https://kox.moe/c/28368.htm" target="_blank">
	<img style="150px"
	     src="/static/images/comic/02.png">
</a>

<a href="https://kox.moe/c/18993.htm" target="_blank">
	<img style="150px"
	     src="/static/images/comic/03.png">
</a>


</body>
</html>