<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻</title>
</head>
<body>
    <h1>天下新闻</h1>
    <div>
        <<img style = "height:600px;width:1400px" src="/static/images/Manim.png" alt="">
    </div>

    <a href="https://www.baidu.com">百度</a>
    "width: 10%"
    <div>
        <img style = "width: 10%" src="https://pica.zhimg.com/80/v2-e110c4ec6cbc6b51f1bac346d4d85ab1_1440w.webp" alt="">
    </div>
    "height: 10%" 没用
    <div>
        <img style = "height: 10%" src="https://pica.zhimg.com/80/v2-e110c4ec6cbc6b51f1bac346d4d85ab1_1440w.webp" alt="">
    </div>

</body>
</html>