<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FirstIndex</title>
</head>
<body>
    <h3 id="常用快捷键">常用快捷键</h3>
<ul>
<li>撤销与反撤销： Ctrl + z，Ctrl + Shift +     z</li>
<li>缩进、不缩进： Tab、Shift + tab</li>
<li>运行： Alt + Shift + F10</li>
<li>查看参数信息 Ctrl + p</li>
<li>快速查看文档： Ctrl + q</li>
<li>快速跳转到函数定义： Ctrl + click/b</li>
<li>删除当前光标位置前的单词: Ctrl +     backspace（退格键）</li>
<li>展开/折叠代码块： Ctrl+Shift++/-</li>
<li>弹出最近编辑文件： Ctrl + E</li>
<li>重命名： Shift + F6</li>
</ul>
<h3 id="光标跳转">光标跳转</h3>
<ul>
<li>第一行： Ctrl + Home 最后一行： Ctrl+End</li>
<li>行首： Home 行尾： End</li>
<li>下一段开头： Alt +↑ 下一段开头：Alt +↓</li>
<li>退回当前单词开头： Ctrl +← 末尾： Ctrl + →</li>
<li>当光标在代码中间，如何回车到下一行： Shift + 回车</li>
<li>当一行代码太长时，我们如何切换到下一行，但是光标不变：Ctrl     + 回车</li>
<li>跳转到第几行： Ctrl + G</li>
<li>跳转到最近编辑的代码位置： Ctrl + Shift +     Backspace</li>
<li>跳到申明（如跳转到当前函数声明的地方）：Ctrl + B 或     Ctrl + Click</li>
<li>与上面相反，跳到执行位置： Ctrl + Alt + B</li>
<li>跳转到上一个或者下一个方法： Alt + Up/Down</li>
<li>跳到代码块的结束或开始： Ctrl + ] / [</li>
<li>跳转到上一个或下一个高亮错误地方： F2 / Shift +     F2</li>
</ul>
<h3 id="代码选中">代码选中</h3>
<ul>
<li>Shift + 光标跳转</li>
</ul>
<h3 id="删除">删除</h3>
<ul>
<li>删除到字符结束 Ctrl +Delete</li>
<li>删除到字符开始 Ctrl + Backspace</li>
<li>删除选定行 Ctrl + Y</li>
<li>删除本行末尾换行符 Ctrl + shift + J</li>
</ul>
<h3 id="注释">注释</h3>
<ul>
<li>行注释：Ctrl + /（取消行注释）</li>
<li>块注释：Ctrl+shift+/</li>
</ul>
<h3 id="查找和替换">查找和替换</h3>
<ul>
<li>查找： Ctrl + F</li>
<li>替换： Ctrl + R</li>
<li>下一个：F3</li>
<li>前一个：Shift + F3</li>
</ul>
<h3 id="复制">复制</h3>
<ul>
<li>复制当前行或选定块：Ctrl + D</li>
</ul>

</div>
<div class="clear"></div>
<div id="blog_post_info_block" role="contentinfo">
    <div id="blog_post_info"></div>
    <div class="clear"></div>
    <div id="post_next_prev"></div>
</div>
</body>
</html>