<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>初学Html标签</title>
</head>
<body>
<h1>个人格言</h1>
<h3>
	<span style="color:blue">作者:</span>
	<span>荀子</span>
</h3>
<div>
	块级标签
	<span>天行有常</span>
	<span>不为尧存 不为桀亡</span>
</div>
<h3>
	<span>内容分析</span>
</h3>
<div>
	出自《荀子·劝学》中的一段话：“天行有常，不为尧存，不为桀亡。周道隆而不衰，是以王道成；殷道隆而不衰，是以王道衰。夫天，岂人力也？众人皆曰‘予知’，驱而纳诸罟擭之中，莫之知辟也。夫子固无惧乎？”这句话强调了天道自然，王道之成败随之而来，是在劝人要遵循天道而不是仅凭人力来达成目标。
</div>
<div>
	<a href="https://www.baidu.com">百度</a>
</div>

<div>
	<a href="/get/news">News</a>
</div>
<div>
	<a href="/comic/list">Comic</a>
</div>
</body>
</html>