<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
</head>
<body>
<h1>用户列表</h1>
<table border="1">
	<thead>
	<tr>
		<th>ID</th>
		<th>姓名</th>
		<th>邮箱</th>
		<th>喜欢的漫画</th>
		<th>更多信息</th>
		<th>操作</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>01</td>
		<td>张天铭</td>
		<td>txc.along@gmail.com</td>
		<td>
			<img src="/static/images/comic/03.png" style="height:50px">
		</td>
		<td>
			<a href="https://kox.moe/c/18993.htm" target="_blank">一人之下</a>
		</td>
		<td>
			编辑
			删除
		</td>
	</tr>
	<tr>
		<td>02</td>
		<td>步惊云</td>
		<td>jueshihaojian@123.com</td>
		<td>
			<img src="/static/images/comic/02.png" style="height:50px">
		</td>
		<td>
			<a href="https://kox.moe/c/28368.htm" target="_blank">新世纪福音战士</a>
		</td>
		<td>
			编辑
			删除
		</td>
	</tr>
	<tr>
		<td>03</td>
		<td>石方哲</td>
		<td>4564561687@qq.com</td>
		<td>
			<img src="/static/images/comic/01.png" style="height:50px">
		</td>
		<td>
			<a href="https://kox.moe/c/10872.htm" target="_blank">狂赌之渊</a>
		</td>
		<td>
			编辑
			删除
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>