<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户列表</title>
</head>
<body>
<h1>用户列表</h1>
<table border="1">
	<thead>
	<tr>
		<th>ID</th>
		<th>姓名</th>
		<th>邮箱</th>
		<th>喜欢的漫画</th>
		<th>更多信息</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>01</td>
		<td>张天铭</td>
		<td>txc.along@gmail.com</td>
		<td>
			<img src="/static/images/comic/03.png" style="height:50px">
		</td>
		<td>
			<a href="https://kox.moe/c/18993.htm" target="_blank">一人之下</a>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>